COMMERCIAL;
BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
FREQUENCY NET "clk_i" 40.000000 MHz ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 PULLMODE=NONE ;
# #############################################################
# SERIAL PORT
LOCATE COMP "RxD_i" SITE "14" ;
LOCATE COMP "TxD_o" SITE "12" ;
LOCATE COMP "RTS_o" SITE "15" ;
LOCATE COMP "CTS_i" SITE "17" ;
# #############################################################
# PS/2 KEYBOARD
LOCATE COMP "Ps2Clk_io" SITE "45" ;
LOCATE COMP "Ps2Dat_io" SITE "44" ;
IOBUF PORT "Ps2Clk_io" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Ps2Dat_io" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
# #############################################################
# PS/2 MOUSE
LOCATE COMP "Ps2MouseClk_io" SITE "46" ;
LOCATE COMP "Ps2MouseDat_io" SITE "48" ;
IOBUF PORT "Ps2MouseClk_io" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Ps2MouseDat_io" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
# #############################################################
# VGA
LOCATE COMP "Red_o_2" SITE "43" ;
LOCATE COMP "Red_o_1" SITE "42" ;
LOCATE COMP "Red_o_0" SITE "40" ;
LOCATE COMP "Green_o_2" SITE "39" ;
LOCATE COMP "Green_o_1" SITE "37" ;
LOCATE COMP "Green_o_0" SITE "36" ;
LOCATE COMP "Blue_o_2" SITE "34" ;
LOCATE COMP "Blue_o_1" SITE "33" ;
LOCATE COMP "Blue_o_0" SITE "32" ;
LOCATE COMP "Vsync_o" SITE "24" ;
LOCATE COMP "Hsync_o" SITE "27" ;
IOBUF PORT "Vsync_o" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW ;
IOBUF PORT "Hsync_o" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "Blue_o_2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Blue_o_1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Blue_o_0" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Green_o_2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Green_o_1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Green_o_0" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Red_o_2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Red_o_1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Red_o_0" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
# #############################################################
# SD-CARD
LOCATE COMP "SD_SCK_o" SITE "20" ;
LOCATE COMP "SD_MOSI_o" SITE "21" ;
LOCATE COMP "SD_nCS_o_0" SITE "22" ;
LOCATE COMP "SD_MISO_i" SITE "18" ;
IOBUF PORT "SD_MISO_i" IO_TYPE=LVCMOS33 PULLMODE=UP ;
# #############################################################
# ECB-ADDRESS-BUS
# LOCATE COMP "nkc_ADDR_i_19" SITE "139" ;
LOCATE COMP "nkc_ADDR_i_18" SITE "138" ;
LOCATE COMP "nkc_ADDR_i_17" SITE "132" ;
LOCATE COMP "nkc_ADDR_i_16" SITE "126" ;
LOCATE COMP "nkc_ADDR_i_15" SITE "123" ;
LOCATE COMP "nkc_ADDR_i_14" SITE "129" ;
LOCATE COMP "nkc_ADDR_i_13" SITE "122" ;
LOCATE COMP "nkc_ADDR_i_12" SITE "124" ;
LOCATE COMP "nkc_ADDR_i_11" SITE "133" ;
LOCATE COMP "nkc_ADDR_i_10" SITE "131" ;
LOCATE COMP "nkc_ADDR_i_9" SITE "120" ;
LOCATE COMP "nkc_ADDR_i_8" SITE "144" ;
LOCATE COMP "nkc_ADDR_i_7" SITE "141" ;
LOCATE COMP "nkc_ADDR_i_6" SITE "137" ;
LOCATE COMP "nkc_ADDR_i_5" SITE "142" ;
LOCATE COMP "nkc_ADDR_i_4" SITE "145" ;
LOCATE COMP "nkc_ADDR_i_3" SITE "148" ;
LOCATE COMP "nkc_ADDR_i_2" SITE "147" ;
LOCATE COMP "nkc_ADDR_i_1" SITE "146" ;
LOCATE COMP "nkc_ADDR_i_0" SITE "150" ;
LOCATE COMP "nkc_ADDR_i_020_A0" SITE "136" ;
LOCATE COMP "nkc_ADDR_i_020_A1" SITE "134" ;
# IOBUF PORT "nkc_ADDR_i_19" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nkc_ADDR_i_18" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nkc_ADDR_i_17" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nkc_ADDR_i_16" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nkc_ADDR_i_15" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nkc_ADDR_i_14" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nkc_ADDR_i_13" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nkc_ADDR_i_12" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nkc_ADDR_i_11" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nkc_ADDR_i_10" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nkc_ADDR_i_9" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nkc_ADDR_i_8" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nkc_ADDR_i_7" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nkc_ADDR_i_6" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nkc_ADDR_i_5" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nkc_ADDR_i_4" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nkc_ADDR_i_3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nkc_ADDR_i_2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nkc_ADDR_i_1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nkc_ADDR_i_0" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nkc_ADDR_i_020_A0" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nkc_ADDR_i_020_A1" IO_TYPE=LVCMOS33 ;
# #############################################################
# ECB-DATA-BUS
LOCATE COMP "nkc_DB_15" SITE "160" ;
LOCATE COMP "nkc_DB_14" SITE "161" ;
LOCATE COMP "nkc_DB_13" SITE "162" ;
LOCATE COMP "nkc_DB_12" SITE "164" ;
LOCATE COMP "nkc_DB_11" SITE "165" ;
LOCATE COMP "nkc_DB_10" SITE "166" ;
LOCATE COMP "nkc_DB_9" SITE "168" ;
LOCATE COMP "nkc_DB_8" SITE "170" ;
LOCATE COMP "nkc_DB_7" SITE "175" ;
LOCATE COMP "nkc_DB_6" SITE "176" ;
LOCATE COMP "nkc_DB_5" SITE "179" ;
LOCATE COMP "nkc_DB_4" SITE "171" ;
LOCATE COMP "nkc_DB_3" SITE "174" ;
LOCATE COMP "nkc_DB_2" SITE "173" ;
LOCATE COMP "nkc_DB_1" SITE "159" ;
LOCATE COMP "nkc_DB_0" SITE "178" ;
IOBUF PORT "nkc_DB_15" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "nkc_DB_14" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "nkc_DB_13" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "nkc_DB_12" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "nkc_DB_11" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "nkc_DB_10" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "nkc_DB_9" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "nkc_DB_8" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "nkc_DB_7" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "nkc_DB_6" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "nkc_DB_5" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "nkc_DB_4" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "nkc_DB_3" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "nkc_DB_2" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "nkc_DB_1" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "nkc_DB_0" IO_TYPE=LVCMOS33 PULLMODE=UP ;
# #############################################################
# ECB-BUS-SIGNALS
LOCATE COMP "nkc_nWR_i" SITE "105" ;
LOCATE COMP "nkc_nRD_i" SITE "104" ;
LOCATE COMP "nkc_nIORQ_i" SITE "111" ;
LOCATE COMP "nkc_nMEMRQ_i" SITE "108" ;
LOCATE COMP "nkc_nWAIT_o" SITE "119" ;
LOCATE COMP "nNMI_o" SITE "117" ;
LOCATE COMP "nIRQ_o" SITE "116" ;
LOCATE COMP "IRQ0_o" SITE "114" ;
LOCATE COMP "IRQ1_o" SITE "113" ;
LOCATE COMP "UDS_SIZ0_i" SITE "112" ;
LOCATE COMP "LDS_SIZ1_i" SITE "110" ;
IOBUF PORT "nkc_nWR_i" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nkc_nRD_i" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nkc_nIORQ_i" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nkc_nMEMRQ_i" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nkc_nWAIT_o" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nNMI_o" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nIRQ_o" IO_TYPE=LVCMOS33 ;
# IOBUF PORT "nIRQ_o" IO_TYPE=LVCMOS33 PULLMODE=NONE PCICLAMP=OFF OPENDRAIN=ON ;
IOBUF PORT "IRQ0_o" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IRQ1_o" IO_TYPE=LVCMOS33 ;
IOBUF PORT "UDS_SIZ0_i" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LDS_SIZ1_i" IO_TYPE=LVCMOS33 ;
# #############################################################
# SYSTEM
IOBUF PORT "reset_n_i" IO_TYPE=LVCMOS33 ;
LOCATE COMP "reset_n_i" SITE "11" ;
IOBUF PORT "clk_i" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "clk_i" SITE "31" ;
LOCATE COMP "driver_nEN_o" SITE "180" ;
LOCATE COMP "driver_DIR_o" SITE "169" ;
IOBUF PORT "driver_nEN_o" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "driver_DIR_o" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
# #############################################################
# SRAM ADDRESSES
LOCATE COMP "SRAM_ADDR_17" SITE "102" ;
LOCATE COMP "SRAM_ADDR_16" SITE "101" ;
LOCATE COMP "SRAM_ADDR_15" SITE "100" ;
LOCATE COMP "SRAM_ADDR_14" SITE "99" ;
LOCATE COMP "SRAM_ADDR_13" SITE "98" ;
LOCATE COMP "SRAM_ADDR_12" SITE "96" ;
LOCATE COMP "SRAM_ADDR_11" SITE "95" ;
LOCATE COMP "SRAM_ADDR_10" SITE "94" ;
LOCATE COMP "SRAM_ADDR_9" SITE "93" ;
LOCATE COMP "SRAM_ADDR_8" SITE "103" ;
LOCATE COMP "SRAM_ADDR_7" SITE "77" ;
LOCATE COMP "SRAM_ADDR_6" SITE "78" ;
LOCATE COMP "SRAM_ADDR_5" SITE "81" ;
LOCATE COMP "SRAM_ADDR_4" SITE "91" ;
LOCATE COMP "SRAM_ADDR_3" SITE "90" ;
LOCATE COMP "SRAM_ADDR_2" SITE "89" ;
LOCATE COMP "SRAM_ADDR_1" SITE "88" ;
LOCATE COMP "SRAM_ADDR_0" SITE "86" ;
IOBUF PORT "SRAM_ADDR_17" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM_ADDR_16" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM_ADDR_15" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM_ADDR_14" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM_ADDR_13" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM_ADDR_12" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM_ADDR_11" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM_ADDR_10" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM_ADDR_9" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM_ADDR_8" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM_ADDR_7" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM_ADDR_6" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM_ADDR_5" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM_ADDR_4" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM_ADDR_3" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM_ADDR_2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM_ADDR_1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM_ADDR_0" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
# #############################################################
# SRAM DATA
LOCATE COMP "SRAM_DB_15" SITE "72" ;
LOCATE COMP "SRAM_DB_14" SITE "71" ;
LOCATE COMP "SRAM_DB_13" SITE "70" ;
LOCATE COMP "SRAM_DB_12" SITE "68" ;
LOCATE COMP "SRAM_DB_11" SITE "67" ;
LOCATE COMP "SRAM_DB_10" SITE "66" ;
LOCATE COMP "SRAM_DB_9" SITE "65" ;
LOCATE COMP "SRAM_DB_8" SITE "63" ;
LOCATE COMP "SRAM_DB_7" SITE "62" ;
LOCATE COMP "SRAM_DB_6" SITE "61" ;
LOCATE COMP "SRAM_DB_5" SITE "60" ;
LOCATE COMP "SRAM_DB_4" SITE "58" ;
LOCATE COMP "SRAM_DB_3" SITE "57" ;
LOCATE COMP "SRAM_DB_2" SITE "56" ;
LOCATE COMP "SRAM_DB_1" SITE "55" ;
LOCATE COMP "SRAM_DB_0" SITE "54" ;
IOBUF PORT "SRAM_DB_15" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SRAM_DB_14" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SRAM_DB_13" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SRAM_DB_12" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SRAM_DB_11" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SRAM_DB_10" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SRAM_DB_9" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SRAM_DB_8" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SRAM_DB_7" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SRAM_DB_6" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SRAM_DB_5" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SRAM_DB_4" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SRAM_DB_3" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SRAM_DB_2" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SRAM_DB_1" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SRAM_DB_0" IO_TYPE=LVCMOS33 PULLMODE=UP ;
# #############################################################
# SRAM CONTROL
LOCATE COMP "SRAM_nWR" SITE "73" ;
LOCATE COMP "SRAM_nOE" SITE "83" ;
LOCATE COMP "SRAM_nCS0" SITE "76" ;
LOCATE COMP "SRAM_nCS1" SITE "75" ;
LOCATE COMP "SRAM_nBHE" SITE "84" ;
LOCATE COMP "SRAM_nBLE" SITE "85" ;
IOBUF PORT "SRAM_nOE" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM_nWR" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM_nCS0" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM_nCS1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM_nBHE" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SRAM_nBLE" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
# #############################################################
# AUDIO
LOCATE COMP "PWM_OUT_o" SITE "30" ;
# LOCATE COMP "PWM_OUT_L_o" SITE "29" ;
# #############################################################
# IDE
LOCATE COMP	"IDE_D_0"		SITE	"196"	;
LOCATE COMP	"IDE_D_1"		SITE	"197"	;
LOCATE COMP	"IDE_D_2"		SITE	"200"	;
LOCATE COMP	"IDE_D_3"		SITE	"183"	;
LOCATE COMP	"IDE_D_4"		SITE	"186"	;
LOCATE COMP	"IDE_D_5"		SITE	"188"	;
LOCATE COMP	"IDE_D_6"		SITE	"191"	;
LOCATE COMP	"IDE_D_7"		SITE	"193"	;
LOCATE COMP	"IDE_D_8"		SITE	"198"	;
LOCATE COMP	"IDE_D_9"		SITE	"201"	;
LOCATE COMP	"IDE_D_10"		SITE	"202"	;
LOCATE COMP	"IDE_D_11"		SITE	"185"	;
LOCATE COMP	"IDE_D_12"		SITE	"187"	;
LOCATE COMP	"IDE_D_13"		SITE	"190"	;
LOCATE COMP	"IDE_D_14"		SITE	"192"	;
LOCATE COMP	"IDE_D_15"		SITE	"195"	;
LOCATE COMP	"IDE_RD"		SITE	"205"	;
LOCATE COMP	"IDE_WR"		SITE	"206"	;
# LOCATE COMP	"IDE_INT"		SITE	"6"	;
LOCATE COMP	"IDE_IA_0"		SITE	"10"	;
LOCATE COMP	"IDE_IA_1"		SITE	"9"	;
LOCATE COMP	"IDE_IA_2"		SITE	"8"	;
LOCATE COMP	"IDE_CS0"		SITE	"203"	;
LOCATE COMP	"IDE_CS1"		SITE	"204"	;
IOBUF PORT "IDE_D_0"  IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "IDE_D_1"  IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "IDE_D_2"  IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "IDE_D_3"  IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "IDE_D_4"  IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "IDE_D_5"  IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "IDE_D_6"  IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "IDE_D_7"  IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "IDE_D_8"  IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "IDE_D_9"  IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "IDE_D_10" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "IDE_D_11" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "IDE_D_12" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "IDE_D_13" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "IDE_D_14" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "IDE_D_15" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "IDE_RD"  IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "IDE_WR"  IO_TYPE=LVCMOS33 PULLMODE=UP ;
# IOBUF PORT "IDE_INT" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "IDE_IA_0" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "IDE_IA_1" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "IDE_IA_2" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "IDE_CS0" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "IDE_CS1" IO_TYPE=LVCMOS33 PULLMODE=UP ;

